-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: fmcg_database
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `brands`
--

DROP TABLE IF EXISTS `brands`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `brands` (
  `brand_id` varchar(36) NOT NULL,
  `company_id` varchar(36) DEFAULT NULL,
  `company_name` varchar(100) DEFAULT NULL,
  `brand_name` varchar(100) DEFAULT NULL,
  `segment` varchar(50) DEFAULT NULL,
  `launch_year` int DEFAULT NULL,
  PRIMARY KEY (`brand_id`),
  KEY `company_id` (`company_id`),
  CONSTRAINT `brands_ibfk_1` FOREIGN KEY (`company_id`) REFERENCES `companies` (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `category_id` varchar(36) NOT NULL,
  `category_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`category_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `companies` (
  `company_id` varchar(36) NOT NULL,
  `name` varchar(100) DEFAULT NULL,
  `hq` varchar(100) DEFAULT NULL,
  `founded_year` int DEFAULT NULL,
  `annual_revenue_cr` decimal(12,2) DEFAULT NULL,
  `country` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`company_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `competitors`
--

DROP TABLE IF EXISTS `competitors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `competitors` (
  `competitor_id` varchar(36) NOT NULL,
  `competitor_company` varchar(100) DEFAULT NULL,
  `competitor_brand` varchar(100) DEFAULT NULL,
  `zone_name` varchar(50) DEFAULT NULL,
  `zone_id` varchar(36) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `estimated_market_share_pct` decimal(5,2) DEFAULT NULL,
  `estimated_revenue_cr` decimal(10,2) DEFAULT NULL,
  `avg_mrp` decimal(10,2) DEFAULT NULL,
  `distribution_reach_pct` decimal(5,2) DEFAULT NULL,
  `quarter` varchar(5) DEFAULT NULL,
  `year` int DEFAULT NULL,
  `data_source` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`competitor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `consumer_feedback`
--

DROP TABLE IF EXISTS `consumer_feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consumer_feedback` (
  `feedback_id` varchar(36) NOT NULL,
  `product_id` varchar(36) DEFAULT NULL,
  `brand_name` varchar(100) DEFAULT NULL,
  `region_id` varchar(36) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `rating` int DEFAULT NULL,
  `sentiment` varchar(20) DEFAULT NULL,
  `review_source` varchar(50) DEFAULT NULL,
  `age_group` varchar(10) DEFAULT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `review_date` date DEFAULT NULL,
  `quarter` varchar(5) DEFAULT NULL,
  `year` int DEFAULT NULL,
  PRIMARY KEY (`feedback_id`),
  KEY `product_id` (`product_id`),
  KEY `region_id` (`region_id`),
  CONSTRAINT `consumer_feedback_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`),
  CONSTRAINT `consumer_feedback_ibfk_2` FOREIGN KEY (`region_id`) REFERENCES `regions` (`region_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `distributors`
--

DROP TABLE IF EXISTS `distributors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `distributors` (
  `distributor_id` varchar(36) NOT NULL,
  `zone_id` varchar(36) DEFAULT NULL,
  `region_id` varchar(36) DEFAULT NULL,
  `zone_name` varchar(50) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `distributor_name` varchar(200) DEFAULT NULL,
  `contact_person` varchar(100) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` text,
  `channel` varchar(50) DEFAULT NULL,
  `credit_limit` decimal(12,2) DEFAULT NULL,
  `onboarding_date` date DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`distributor_id`),
  KEY `zone_id` (`zone_id`),
  CONSTRAINT `distributors_ibfk_1` FOREIGN KEY (`zone_id`) REFERENCES `zones` (`zone_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `external_factors`
--

DROP TABLE IF EXISTS `external_factors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_factors` (
  `factor_id` varchar(36) NOT NULL,
  `region_id` varchar(36) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `quarter` varchar(5) DEFAULT NULL,
  `year` int DEFAULT NULL,
  `festival_name` varchar(100) DEFAULT NULL,
  `season` varchar(50) DEFAULT NULL,
  `rainfall_mm` decimal(6,1) DEFAULT NULL,
  `avg_temperature_c` decimal(4,1) DEFAULT NULL,
  `inflation_rate_pct` decimal(5,2) DEFAULT NULL,
  `consumer_confidence_index` decimal(6,1) DEFAULT NULL,
  `gdp_growth_pct` decimal(5,2) DEFAULT NULL,
  `unemployment_pct` decimal(5,2) DEFAULT NULL,
  PRIMARY KEY (`factor_id`),
  KEY `region_id` (`region_id`),
  CONSTRAINT `external_factors_ibfk_1` FOREIGN KEY (`region_id`) REFERENCES `regions` (`region_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `inventory_id` varchar(36) NOT NULL,
  `product_id` varchar(36) DEFAULT NULL,
  `outlet_id` varchar(36) DEFAULT NULL,
  `warehouse` varchar(100) DEFAULT NULL,
  `stock_quantity` int DEFAULT NULL,
  `reorder_level` int DEFAULT NULL,
  `days_of_stock` decimal(6,1) DEFAULT NULL,
  `last_replenished_date` date DEFAULT NULL,
  `is_stockout` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`inventory_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `inventory_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `marketing_campaigns`
--

DROP TABLE IF EXISTS `marketing_campaigns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marketing_campaigns` (
  `campaign_id` varchar(36) NOT NULL,
  `brand_id` varchar(36) DEFAULT NULL,
  `brand_name` varchar(100) DEFAULT NULL,
  `product_id` varchar(36) DEFAULT NULL,
  `zone_name` varchar(50) DEFAULT NULL,
  `region_id` varchar(36) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `campaign_name` varchar(255) DEFAULT NULL,
  `channel` varchar(50) DEFAULT NULL,
  `budget_cr` decimal(10,2) DEFAULT NULL,
  `spend_cr` decimal(10,2) DEFAULT NULL,
  `impressions` bigint DEFAULT NULL,
  `reach` bigint DEFAULT NULL,
  `conversions` int DEFAULT NULL,
  `conversion_rate_pct` decimal(8,4) DEFAULT NULL,
  `roi_pct` decimal(8,2) DEFAULT NULL,
  `sales_lift_pct` decimal(6,2) DEFAULT NULL,
  `brand_awareness_score` decimal(5,1) DEFAULT NULL,
  `cost_per_acquisition` decimal(14,2) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `quarter` varchar(5) DEFAULT NULL,
  `year` int DEFAULT NULL,
  `festival_tie_in` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`campaign_id`),
  KEY `brand_id` (`brand_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `marketing_campaigns_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`),
  CONSTRAINT `marketing_campaigns_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `outlets`
--

DROP TABLE IF EXISTS `outlets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outlets` (
  `outlet_id` varchar(36) NOT NULL,
  `region_id` varchar(36) DEFAULT NULL,
  `zone_name` varchar(50) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `distributor_id` varchar(36) DEFAULT NULL,
  `outlet_name` varchar(200) DEFAULT NULL,
  `outlet_type` varchar(50) DEFAULT NULL,
  `address` text,
  `monthly_footfall` int DEFAULT NULL,
  `shelf_space_sqft` decimal(8,1) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  `onboarding_date` date DEFAULT NULL,
  PRIMARY KEY (`outlet_id`),
  KEY `region_id` (`region_id`),
  CONSTRAINT `outlets_ibfk_1` FOREIGN KEY (`region_id`) REFERENCES `regions` (`region_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pricing_promotions`
--

DROP TABLE IF EXISTS `pricing_promotions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pricing_promotions` (
  `pricing_id` varchar(36) NOT NULL,
  `product_id` varchar(36) DEFAULT NULL,
  `brand_name` varchar(100) DEFAULT NULL,
  `region_id` varchar(36) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `base_price` decimal(10,2) DEFAULT NULL,
  `promo_price` decimal(10,2) DEFAULT NULL,
  `discount_pct` decimal(5,2) DEFAULT NULL,
  `promo_type` varchar(50) DEFAULT NULL,
  `promo_start` date DEFAULT NULL,
  `promo_end` date DEFAULT NULL,
  `quarter` varchar(5) DEFAULT NULL,
  `year` int DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`pricing_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `pricing_promotions_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `product_id` varchar(36) NOT NULL,
  `brand_id` varchar(36) DEFAULT NULL,
  `brand_name` varchar(100) DEFAULT NULL,
  `category_id` varchar(36) DEFAULT NULL,
  `subcategory_id` varchar(36) DEFAULT NULL,
  `sku_name` varchar(200) DEFAULT NULL,
  `barcode` varchar(50) DEFAULT NULL,
  `weight_variant` varchar(20) DEFAULT NULL,
  `mrp` decimal(10,2) DEFAULT NULL,
  `cost_price` decimal(10,2) DEFAULT NULL,
  `launch_date` date DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`product_id`),
  KEY `brand_id` (`brand_id`),
  CONSTRAINT `products_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `regions`
--

DROP TABLE IF EXISTS `regions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `regions` (
  `region_id` varchar(36) NOT NULL,
  `zone_id` varchar(36) DEFAULT NULL,
  `zone_name` varchar(50) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `population_lakh` decimal(8,1) DEFAULT NULL,
  PRIMARY KEY (`region_id`),
  KEY `zone_id` (`zone_id`),
  CONSTRAINT `regions_ibfk_1` FOREIGN KEY (`zone_id`) REFERENCES `zones` (`zone_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sales`
--

DROP TABLE IF EXISTS `sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales` (
  `sale_id` varchar(36) NOT NULL,
  `product_id` varchar(36) DEFAULT NULL,
  `sku_name` varchar(200) DEFAULT NULL,
  `brand_name` varchar(100) DEFAULT NULL,
  `distributor_id` varchar(36) DEFAULT NULL,
  `region_id` varchar(36) DEFAULT NULL,
  `zone_id` varchar(36) DEFAULT NULL,
  `zone_name` varchar(50) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `channel` varchar(50) DEFAULT NULL,
  `units_sold` int DEFAULT NULL,
  `mrp` decimal(10,2) DEFAULT NULL,
  `discount_pct` decimal(5,2) DEFAULT NULL,
  `revenue` decimal(12,2) DEFAULT NULL,
  `cogs` decimal(12,2) DEFAULT NULL,
  `quarter` varchar(5) DEFAULT NULL,
  `year` int DEFAULT NULL,
  `sale_date` date DEFAULT NULL,
  PRIMARY KEY (`sale_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `sales_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sales_targets`
--

DROP TABLE IF EXISTS `sales_targets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sales_targets` (
  `target_id` varchar(36) NOT NULL,
  `brand_id` varchar(36) DEFAULT NULL,
  `brand_name` varchar(100) DEFAULT NULL,
  `region_id` varchar(36) DEFAULT NULL,
  `region_name` varchar(100) DEFAULT NULL,
  `quarter` varchar(5) DEFAULT NULL,
  `year` int DEFAULT NULL,
  `target_revenue` decimal(16,2) DEFAULT NULL,
  `target_units` int DEFAULT NULL,
  `achieved_revenue` decimal(16,2) DEFAULT NULL,
  `achieved_units` int DEFAULT NULL,
  `achievement_pct` decimal(6,2) DEFAULT NULL,
  PRIMARY KEY (`target_id`),
  KEY `brand_id` (`brand_id`),
  KEY `region_id` (`region_id`),
  CONSTRAINT `sales_targets_ibfk_1` FOREIGN KEY (`brand_id`) REFERENCES `brands` (`brand_id`),
  CONSTRAINT `sales_targets_ibfk_2` FOREIGN KEY (`region_id`) REFERENCES `regions` (`region_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subcategories`
--

DROP TABLE IF EXISTS `subcategories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subcategories` (
  `subcategory_id` varchar(36) NOT NULL,
  `category_id` varchar(36) DEFAULT NULL,
  `subcategory_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`subcategory_id`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `subcategories_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `categories` (`category_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `supply_chain`
--

DROP TABLE IF EXISTS `supply_chain`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supply_chain` (
  `sc_id` varchar(36) NOT NULL,
  `product_id` varchar(36) DEFAULT NULL,
  `brand_name` varchar(100) DEFAULT NULL,
  `supplier_name` varchar(200) DEFAULT NULL,
  `supplier_type` varchar(50) DEFAULT NULL,
  `manufacturing_location` varchar(100) DEFAULT NULL,
  `warehouse` varchar(100) DEFAULT NULL,
  `lead_time_days` int DEFAULT NULL,
  `transit_days` int DEFAULT NULL,
  `on_time_delivery_pct` decimal(5,2) DEFAULT NULL,
  `defect_rate_pct` decimal(5,2) DEFAULT NULL,
  `cost_per_unit` decimal(10,2) DEFAULT NULL,
  `min_order_qty` int DEFAULT NULL,
  `last_audit_date` date DEFAULT NULL,
  PRIMARY KEY (`sc_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `supply_chain_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `zones`
--

DROP TABLE IF EXISTS `zones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `zones` (
  `zone_id` varchar(36) NOT NULL,
  `zone_name` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`zone_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-09 17:13:11
